 PORT=8000
 MONGODB_URL =mongodb+srv://vamshi:your-password@vamshi.tvpgkv9.mongodb.net



 CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=chai-aur-code
 
ACCESS_TOKEN_EXPIRES_IN=1d
REFRESH_TOKEN_SECRET=123
REFRESH_TOKEN_EXPIRES_IN=7d






CLOUDINARY_CLOUD_NAME=dv6h8l7s9
CLOUDINARY_API_KEY=1234567890
CLOUDINARY_API_SECRET =